* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 0.5em 0 1em;
}

#grid {
  margin: 1em auto;
  border-spacing: 0;
  border-collapse: collapse;
}

  #grid td {
    border: 1px solid gray;
  }

  @-webkit-keyframes birth {
    50% {
      box-shadow: 0 0 0 99px green inset;
    }
  }

  @keyframes birth {
    50% {
      box-shadow: 0 0 0 99px green inset;
    }
  }

  #grid input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 20px;
    height: 20px;

    border: 0;
    background: white;
    transition: 0.2s;
  }

    #grid input[type="checkbox"]:checked {
      background: black;
      /* Fix for Firefox checkboxes... */
      box-shadow: 0 0 0 99px black inset;
      -webkit-animation: birth 1s;
      animation: birth 1s;
    }

button,
.button {
  padding: 0.4em 0.6em;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.3em;
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.7) inset, 0 0.15em 0.1em -0.1em rgba(0, 0, 0, 0.3);
  background: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0)) hsl(80, 80%, 35%);
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.3);
  font: inherit;
  font-weight: bold;
  color: white;
  outline: none;
  cursor: pointer;
}

button:enabled:active,
.button:active,
input[type="checkbox"]:checked + label.button {
  background-image: none;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5) inset;
}

button:disabled {
  background-color: hsl(80, 20%, 40%);
  cursor: not-allowed;
}

#autoplay {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
